.verticalCenter {
    margin-top: 50% !important;
  }
  
  .vertical10 {
    margin-top: 10% !important;
  }
  
  .vertical20 {
    margin-top: 20% !important;
  }

  .horizontalCenter_10{
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .lower70 {
      width: 30% !important;
      height: 30% !important;
      margin-left: 35%;
  }
  
  .horizontalCenter {
    text-align: center !important;
  }
  